<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>632445182619-cjt25vev9j2lv9pfigqcj3ltqmnmt17f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.632445182619-cjt25vev9j2lv9pfigqcj3ltqmnmt17f</string>
	<key>API_KEY</key>
	<string>AIzaSyCSbE0dvyC0FCp7WGUOtcWAQ5jmbG31GeQ</string>
	<key>GCM_SENDER_ID</key>
	<string>632445182619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.akash.akashSiwisoft</string>
	<key>PROJECT_ID</key>
	<string>akashsiwisoft</string>
	<key>STORAGE_BUCKET</key>
	<string>akashsiwisoft.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:632445182619:ios:77821b8379eaa13f049c3e</string>
	<key>DATABASE_URL</key>
	<string>https://akashsiwisoft.firebaseio.com</string>
</dict>
</plist>